@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Itim';
}
body {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 95, 122, 1);
}
#title {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: x-large;
}
#div_input {
    display: flex;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    background: #002B5B;
    border-radius: 15px;
    outline: none;
    border: none;
    margin: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: x-large;
}
.button:hover {
    cursor: pointer;
}
.button:active {
    transform: scale(0.975);
}
.div_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px;
}
.div_slider > h2 {
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: x-large;
}
.slider {
    width: 250px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 100px;
    background-color: #002B5B;
}
.slider:hover {
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    background: #57C5B6;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 100px;
}
.slider::-webkit-slider-thumb:hover {
    background: #51b5a7;
}
.slider::-webkit-slider-thumb:active {
    background: #4aa498;
}
#input_sortspeed {
    background: linear-gradient(to right, #159895 0%, #159895 48%, #002B5B 48%, #002B5B 100%);
}

#div_bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 77.5vh;
    width: 90vw;
    background-color: #002B5B;
    border-radius: 40px 40px 0 0;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.bar {
    width: 5%;
    height: 50%;
    max-height: 100%;
    background-color: #57C5B6;
    /* box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5); */
}